/* Estilos del header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    text-align: center;
    background-color: #684f48;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Contenedor principal del formulario */
.form-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto; /* Espacio debajo del header */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Inputs */
.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Botón */
button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 20px;
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2980B9;
}
